@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 1.6;
}

/* header */

header {
  background-color: black;
  color: white;
  height: 80px;
}


header .container {
  height: 80px;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

header .flex {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

header li {
  padding: 10px;
}

header a {
  text-decoration: none;
  color: #ccc;
  padding: 10px;
}

header a:hover {
  background-color: #333;
  color: white;
  border-bottom: 2px solid white;
}

/* showcase */

.showcase {
  background-color: #333;
  color: white;
  height: 200px;
}

.showcase .container {
  height: 200px;
  max-width: 1000px;
  margin: 0 auto;
}

.showcase .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase h1 {
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  animation: slideInFromTop 1s ease-in;
}

.showcase p {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  animation: slideInFromBottom 1s ease-in;
}

/* learn */

.learn {
  background-color: black;
  color: white;
  min-height: 330px;
}

.learn .container {
  min-height: 330px;
  max-width: 840px;
  margin: 0 auto;
}

.learn .flex {
  display: flex;
  flex-direction: column;
}

.learn h1 {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.learn ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 20px;
}

.learn li {
  flex: 1;
  max-width: 240px;
  min-width: 240px;
  padding: 20px;
  animation: slideInFromBottom 1s ease-in;
}

.learn .card {
  background-color: #ccc;
  color: black;
  border-radius: 10px;
  box-shadow: 3px 10px rgba(216, 216, 216, 0.36);
}

.learn .card:hover {
  background-color: white;
  color: #333;
  transform: scale(1.01);
  cursor: pointer;
}

.learn .card a {
  color: black;
  text-decoration: none;
}

.learn .home a {
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 4fr);
}

.learn .about a {
  color: black;
  text-decoration: none;
  display: grid;
}

.learn .card i {
  padding: 10px;
}

.learn .card h1 {
  font-size: 14px;
  padding: 6px;
}

/* footer */

footer {
  background-color: #333;
  color: white;
  height: 50px;
}

footer .container {
  height: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

footer .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:500px) {
  header {
    height: 150px;
  }

  header .flex {
    flex-direction: column;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}